<div class="container-fluid">
    <div class="row">
        <div class="col-2" *ngFor="let product of products; index as i">
            <a class="nav-link" [routerLink]="['/products', 1]">
                <div class="card" style="width:200px">
                    <img class="card-img-top" src="/assets/product.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                    <h4 class="card-title">Product Name</h4>
                    <p class="card-text">Product Description</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
